<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid row">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="col align-self-end">
                <a class="navbar-brand" href="#">Planning Poker</a>
            </div>
            <div class="col align-self-center align-item-navbar">
                <ul class="navbar-nav">
                    <li>
                        <a class="nav-link" (click)="copiarLink()" data-bs-toggle="modal" data-bs-target="#entrarSessao" href="">Copia link<i class="bi bi-link-45deg"></i></a>
                    </li>
                </ul> 
            </div>       
        </div>
    </div>
</nav>

<div class="container container-game">
    <div class="row justify-content-md-center">
        <div *ngFor="let element of players" class="col col-md-auto">
            <div class=" row card card-poker selected-card-margin" (click)="teste()">
                <div class="col">
                    <i class="bi bi-suit-spade"></i>
                </div>
                
                <div class="col" style="text-align: center;">
                    <p>definir</p>
                </div>
    
                <div class="col" style="text-align: right;">
                    <i class="bi bi-suit-spade-fill"></i>
                </div>            
            </div>
            <div class="col" style="text-align: center;">
                <label class="form-label">{{element}}</label>
            </div>
        </div>
        
    </div>
</div>

<!--FiboNormal-->
<div class="container">
    <div class="row">
        <div class="col" *ngFor="let element of Cardfibo" (click)="votar(element)">
            <div class="row card card-poker">
                <div class="col">
                    <i class="bi bi-suit-spade"></i>
                </div>
                
                <div class="col" style="text-align: center;">
                    <p>{{element}}</p>
                </div>
                
                <div class="col" style="text-align: right;">
                    <i class="bi bi-suit-spade-fill"></i>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="row card card-poker">
                <div class="col">
                    <i class="bi bi-suit-spade"></i>
                </div>
                
                <div class="col" style="text-align: center;">
                    <p>?</p>
                </div>
                
                <div class="col" style="text-align: right;">
                    <i class="bi bi-suit-spade-fill"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<!--SmallFibo-->
<!-- <div class="container">
    <div class="row">
        <div class="col" *ngFor="let element of CardSmallFibo">
            <div class="row card card-poker">
                <div class="col">
                    <i class="bi bi-suit-spade"></i>
                </div>
                
                <div class="col" style="text-align: center;">
                    <p>{{element}}</p>
                </div>
                
                <div class="col" style="text-align: right;">
                    <i class="bi bi-suit-spade-fill"></i>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="row card card-poker">
                <div class="col">
                    <i class="bi bi-suit-spade"></i>
                </div>
                
                <div class="col" style="text-align: center;">
                    <p>?</p>
                </div>
                
                <div class="col" style="text-align: right;">
                    <i class="bi bi-suit-spade-fill"></i>
                </div>
            </div>
        </div>
    </div>
</div> -->