.container-game{
    height: 21rem;
    margin-top: 3rem;
}

.card-poker{
    width: 5rem;
    height: 100px;
    border-radius: 10px;
    border-color: #5492e082;
}

.card-empty{
    width: 5rem;
    height: 100px;
    border-radius: 10px;
    border-style: dashed;
    border-color: #5492e082;
    background-color: #0000000d;
    border: none;
}

.card-vote{
    width: 5rem;
    height: 100px;
    border-radius: 10px;
    border-style: dashed;
    border-color: #5492e082;
    background-color: #0000000d;
}

.align-item-navbar{
    margin-left: 700px;
}

.row>* {
    padding-left: 0!important;
    padding-right: 0!important;
}

.selected-card-margin{
    margin: 5px;
}

.align-bottom-bar{
    margin: 0% 0% 0% 37%;
}

.padding-item{
    padding: 5px;
}
.flip-card{
    
}
