<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid row">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="col align-self-end">
                <a class="navbar-brand" href="#">Planning Poker</a>
            </div>
            <div class="col align-self-center align-item-navbar">
                <ul class="navbar-nav">
                    <li>
                        <a class="nav-link" href=""><i class="bi bi-joystick"> CRIAR SESSÃO</i></a>
                    </li>
                    <li>
                        <a class="nav-link" href=""><i class="bi bi-box-arrow-in-right"> ENTRAR SESSÃO</i></a>
                    </li>
                </ul> 
            </div>       
        </div>
    </div>
</nav>
<div class="container ma-top">
    <div class="row">
        <div class="col">
            <img src="../../assets/background.jpg">
        </div>
        <div class="col">
            bb
        </div>
    </div>
</div>